/* Estilo para la tarjeta */
.card {
  width: 100%; /* O un ancho fijo, como '300px' */
  height: 100%;
  max-width: 300px; /* Máximo ancho deseado */
  margin: 10px auto; /* Centrar tarjetas y espacio entre ellas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilo para la imagen de la tarjeta */
.card-img-top {
  width: 100% !important;
  height: 150px !important; /* Ajusta la altura según sea necesario */
  object-fit: cover; /* Asegura que la imagen cubra el área de manera apropiada */
}

/* Estilo para el cuerpo de la tarjeta */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

/* Asegura que los botones se alineen correctamente */
.card .btn {
  margin-top: 10px;
}

.card-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

































































/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/